@import "tailwindcss";

@layer base {
  body {
    @apply bg-zinc-50 text-zinc-900 min-h-screen font-sans antialiased overflow-hidden;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
@media print {
  #root {
    display: none !important;
  }
  #print-root {
    display: block !important;
  }
  #printable-receipt {
    width: 80mm;
    margin: 0 auto;
    padding: 0;
    font-family: monospace;
    font-size: 12px;
  }
  @page {
    size: auto;
    margin: 10mm;
  }
}
